## PRINT

In [3]:
#print is used for an answer
a=10
b=20
a
b

20

In [5]:
a=10
b=20
print(a,b)

10 20

In [7]:
print(10)
print(10,20)
print('GenAI')
print(12,24,'GenAi')

10
10 20
GenAI
12 24 GenAi

In [9]:
num1=20
num2=30
add=num1+num2
print(add)

50

## Print Result with String

In [21]:
x=25
y=35
add=x+y
print('The sum of',x,'and',y,'is =',add)

The sum of 25 and 35 is = 60

In [23]:
name='GenAI'
age=20
city='hyd'
#hello my name is GenAI and I am 20 years olo and from hyd
print('My name is',name,'and i am',age,'years old and from',city)

My name is GenAI and i am 20 years old and from hyd

In [27]:
x=34
y=44
add=x+y
print('The addition of {} and {} is = {}'.format(x,y,add))

The addition of 34 and 44 is = 78

>first decide how the print statement should be

>like:- The addition of 20 and 30 is = 50

>then replace the variable position with curly brtacesm { }
    
>then appply .format(val1,val2,....val-n methodm

In [31]:
name='GenAI'
age=21
city='hyderabad'
print("My name is {}, I am {} years old and from {} city".format(name,age,city))

My name is GenAI, I am 21 years old and from hyderabad city

In [33]:
a=929
b=889
c=673
avg=(a+b+c)/3 # or we can use avg=round(a+b+c)/3,2)
avg1=round((a+b+c)/3,2)
print('The average of {}, {}, and {} is = {} or {}'.format(a,b,c,avg,avg1))

The average of 929, 889, and 673 is = 830.3333333333334 or 830.33

In [35]:
round(avg,2)

830.33

## More short format meythod(f string method)
>variable should be in curly braces
    
>and write everything inside quotes ''
    
>at starting simply add f

In [38]:
a=23
b=45
add=a+b
print(f'The sum of {a} and {b} is = {add}') #easy to understand and most preferable

The sum of 23 and 45 is = 68

In [40]:
name='GenAI'
age=20
city='hyd'

In [44]:
print(f'hello my name is {name}, and I am {age} years old, from {city}.')

hello my name is GenAI, and I am 20 years old, from hyd.

In [48]:
x=546
y=852
z=159
avg=round((x+y+z)/3,2)
print(f'The average of {x},{y} and {z} is = {avg}')

The average of 546,852 and 159 is = 519.0

In [52]:
#lets combine all the formats
x=30
y=40
add=x+y
print('the sum of ',x,'and',y,'is =', add)
print('The sum of {} and {} is= {}'.format(x,y,add))
print(f'The sum of {x} and {y} is = {add}')

the sum of  30 and 40 is = 70
The sum of 30 and 40 is= 70
The sum of 30 and 40 is = 70

## END statement

In [55]:
print('hi') # 1st statement
print('good morning')#2nd statement
#I want to print like :- hello good morning

hi
good morning

- Here we will use end statement that joint line from end of one string to starting of other string

In [60]:
print('hi ',end='')
print('good morning')

hi good morning

## Seperator

- here one print statement only we use

- 
insisde one print statement we have multipa value

- 
we want to seperate these multleal values th anything
ng

In [72]:
print('hello','hal','how are you',sep='--->')

hello--->hal--->how are you

In [74]:
print('hello','hal','how are you',sep='&')

hello&hal&how are you

In [76]:
print('hello','hal','how are you',sep='@')

hello@hal@how are you

In [78]:
print('hello','hal','how are you',sep=' ')

hello hal how are you

In [80]:
print(3,'.')

3 .

In [84]:
print(3,'.',sep='')

3.

In [88]:
print(1,2,end=' ')
print(3,'.',sep='')
#will print 1 2 3.

1 2 3.

## Manipulating Strings

Escape Characters 
- An escape character is created by typing a backslash `\` followed by the character you
want to insert.
Escape character       Prints as
- `\'`                   Single quote

- `\"`                   Double quote

- `\t`                   Tab
  
- `\n`                   Newline (line break)
  
- `\\`                   Backslash
  
- `\b`                   Backspace
  
- `\ooo`                 Octal value
  
- `\r`                   Carriage Return

In [95]:
print("Hello there!\nHow are you?\nI\'m doin fine.")

Hello there!
How are you?
I'm doin fine.

## Raw Strings
- A raw string entirely ignores all escape characters and prints any backlash that appears in the string.

In [98]:
print(r"Hello there !\nHow are you?\nI\'m doing fine.")

Hello there !\nHow are you?\nI\'m doing fine.

- Raw strings are mostly used for regular expression definition.

## Multiline Strings

In [104]:
print("""Dear alice,
        Eves cats has been arrested for catnapping,
        cat burglary and extortion.

    sincerely
     Bob"""
     )

Dear alice,
        Eves cats has been arrested for catnapping,
        cat burglary and extortion.

    sincerely
     Bob

## Indexing and Slicing Strings

In [107]:
s='DatascienceGenAi'
s[0]

'D'

In [109]:
s[3]

'a'

In [111]:
s[-1]

'i'

## Slicing

In [114]:
s[0:5]

'Datas'

In [116]:
s[:6]

'Datasc'

In [118]:
s[6:-1]

'ienceGenA'

In [120]:
s[::-1]

'iAneGecneicsataD'

In [122]:
f=s[0:5]

In [124]:
f

'Datas'

## The 'in' and 'not in' Operators

In [127]:
'Data' in 'DataScience'

True

In [129]:
'Data' in 'Data'

True

In [133]:
'HELLO' in 'Hello World'

False

In [135]:
'' in 'spam'

True

In [137]:
'cats' not in 'cats and dogs'

False

## Upper(), Lower() and Title()
- Transforms a string to upper, lower and title case:

In [141]:
s

'DatascienceGenAi'

In [143]:
s.upper()

'DATASCIENCEGENAI'

In [145]:
s.lower()

'datasciencegenai'

In [147]:
s.title()

'Datasciencegenai'

## isupper() and islower() methods
- Return 'True' or 'False' after evaluating if a string is in upper or lower case:

In [151]:
s

'DatascienceGenAi'

In [153]:
s.isupper()

False

In [157]:
s.islower()

False

In [159]:
'HELLO'.isupper()

True

In [161]:
'abc12345'.islower()

True

In [163]:
'12345'.islower()

False

In [165]:
'12345'.isupper()

False

### The isX string methods
Method          Description

- isalpha()       returns `True` if the string consists only of letters.
  
- isalnum()       returns `True` if the string consists only of letters and numbers.
  
- isdecimal()     returns `True` if the string consists only of numbers.
  
- isspace()       returns `True` if the string consists only of spaces, tabs, and new-                     lines.
  
- istitle()       returns `True` if the string consists only of words that begin with an
                uppercase letter followed by only lowercase characters.

## startswith() and endswith()

In [170]:
'Datascience GenAI'.startswith('Datascience')

True

In [174]:
'Datascience GenAI'.endswith('GenAI')

True

In [178]:
'abc123'.startswith('abdcdef')

False

In [180]:
'abc123'.endswith('12')

False

## Join() and Split()

## Join()
- The `join()` method takes all the items in an iterable, like a list, dictionary, tuple or set,
and joins them into a string. You can also specify a separator

In [186]:
''.join(['My','name','is','Simon'])

'MynameisSimon'

In [190]:
','.join(['cats','rats','bats'])

'cats,rats,bats'

In [192]:
' '.join(['My','name','is','Simon'])

'My name is Simon'

In [194]:
'ABC'.join(['my','name','is','simon'])

'myABCnameABCisABCsimon'

### Split()
- The `split()` method splits a `string` into a `list`. By default, it will use whitespace to 
separate the items, but you can also set another character of choice:

In [197]:
'My name is Simon'.split()

['My', 'name', 'is', 'Simon']

In [199]:
'MyABCnameABCisABCSimon'.split('ABC')

['My', 'name', 'is', 'Simon']

In [201]:
'My name is Simon'.split('m')

['My na', 'e is Si', 'on']

In [203]:
' My name is Simon'.split()

['My', 'name', 'is', 'Simon']

In [205]:
' My name is Simon'.split(' ')

['', 'My', 'name', 'is', 'Simon']

### Justifying Text with rjust(), ljust() and center()

In [208]:
'Hello'.rjust(10)

'     Hello'

In [210]:
'Hello'.rjust(20)

'               Hello'

In [212]:
'Hello World'.rjust(20)

'         Hello World'

In [214]:
'Hello'.ljust(10)

'Hello     '

In [216]:
'hello'.center(20)

'       hello        '

- An optional second argument to `rjust()` and `ljust()` will specify a fill character apart 
from a space character:

In [220]:
'Hello'.rjust(20,'*')

'***************Hello'

In [222]:
'hello'.ljust(20,'-')

'hello---------------'

In [226]:
'hello'.center(30,'=')

'============hello============='

## Removing whitespace with strip(), rstrip(), and lstrip()

In [229]:
s='          Hi google        '
s

'          Hi google        '

In [233]:
s.strip()

'Hi google'

In [235]:
s.lstrip()

'Hi google        '

In [237]:
s.rstrip()

'          Hi google'

In [239]:
s1='bassbassbassconbassegg'
s1.strip('segg')

'bassbassbassconba'

### The Count Method
- 
Counts the number of occurrences of a given character or substring in the string it is
applied to. Can be optionally provided start and end index.

In [243]:
s='one sheep two sheep three sheep'
s.count('sheep')

3

In [245]:
s.count('e')

9

In [249]:
s.count('e',6) # returns count of e afte r"one sh' i.e. 6 chars since the begining of strings

8

In [251]:
s.count('e',7)

7

### Replace Method

- Replaces all occurences of a given substring with another substring. Can be optionally
provided a third argument to limit the number of replacements. Returns a new string.

In [255]:
t='Data Science'
t.replace('Science','GenAI')

'Data GenAI'

In [259]:
f='apple,banana,cherry,apple'
f.replace('apple','orange',1)

'orange,banana,cherry,apple'

In [261]:
sentence = "I like apples, Apples are my favorite fruit"
sentence.replace("apples", "oranges")

'I like oranges, Apples are my favorite fruit'