In [1]:
def greet():
    print('good evening')

In [2]:
greet()

good evening

In [3]:
def greet():
    print('good evening')
greet()
def greet():
    print('good evening')
greet()
def greet():
    print('good evening')
greet()

good evening
good evening
good evening

In [4]:
greet()
print()
greet()
print()
greet()

good evening

good evening

good evening

In [5]:
def add(x,y):
    c=x+y
    print(c)
add(4,5)

9

In [6]:
def add(x):
    c=x+y
    print(c)
add(4,5)

TypeError: add() takes 1 positional argument but 2 were given

In [15]:
def add(x,y,z):
    c=x+y
    print(c)
add(4,5)

TypeError: add() missing 1 required positional argument: 'z'

In [ ]:
def add(x,y):
    c=x+y
    print(c)
add(4,5,7)

In [18]:
def greet():
    print('good evening')
greet()
print()
def add(x,y):
    c=x+y
    print(c)
add(4,5)

good evening

9

In [20]:
def greet():
    print('good evening')
def add(x,y):
    c=x+y
    print(c)
def sub(x,y):
    c=x-y
    print(c)
greet()
add(23,43)
sub(45,12)

good evening
66
33

In [22]:
def add(x,y):
    c=x+y
    return c
add(34,23)

57

In [24]:
def add(x,y):
    c=x+y
    return c
def sub(x,y):
    d=x-y
    return d
    
print(add(20,100))
print(sub(20,100))

120
-80

In [26]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d,
res=add_sub(12,34)
print(res)
print(type(res))

(46, -22)
<class 'tuple'>

In [28]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d,
res1,res2=add_sub(12,34)
print(res1)
print(res2)

print(type(res1))
print(type(res2))

46
-22
<class 'int'>
<class 'int'>

# Function arguments:

In [31]:
def update():
    x=8
    print(x)
update()

8

In [33]:
def update():
    x=8
    print(x)
update(8)

TypeError: update() takes 0 positional arguments but 1 was given

In [35]:
def update(x): #update function take the value from the user 
    x=8
    return x
update(8)

8

In [37]:
def update(x): #update function take the value from the user 
    x=8
    return x
update(10)

8

In [39]:
def update(x):
    x=8
    return x
a=10
print(update(a))
print(a)

8
10

# Function without argument -not required any thing
# Function with argument -- divide into 2 parts 
- FORMAL ARGUMENT
- ACTUAL ARGUMENT

In [42]:
def add(x,y): #x&y us called --FORMAL ARGUMENT
    c=x+y
    return c
add(4,5) #4&5 is called -ACTUAL ARGUMENT

9

# Postional Argument

In [45]:
def add(x,y,z,m,n,o,a,u):
    c=x+y
    return c
add(4,5,0,7,4,64,5,68)

9

In [47]:
def person(name,age):
    print(name)
    print(age)
person('nit',22)

nit
22

In [49]:
def person(name,age):
    print(name)
    print(age)
person(22,'nit')

22
nit

In [51]:
def person(name,age):
    print(name)
    print(age+1)
person(22, 'nit')

22

TypeError: can only concatenate str (not "int") to str

# Keyword Argument

In [54]:
def person(name,age):
    print(name)
    print(age+1)
person(age=22,name='nit')

nit
23

In [56]:
def person(name,age,salary):
    print(name)
    print(age+1)
    print('sir job chaiye')
person(age=22, name='nit')

TypeError: person() missing 1 required positional argument: 'salary'

# Default argument

In [59]:
def person(name,age,age2):
    print(name)
    print(age)
    print(age2)
person(age=20,name='nit',age2=21)
#this called keyboard arguments

nit
20
21

In [61]:
def person(name,age):
    print(name)
    print(age)
person('nit')

TypeError: person() missing 1 required positional argument: 'age'

In [63]:
def person(name,age=18):
    print(name)
    print(age)
    
person('nit')

nit
18

In [65]:
def person(name, age=18):
    print(name)
    print(age)
    
person('nit',age= 40)

nit
40