16th April-FSDS with Agentic AI and Gen AI 
Python Basics(Data Types)

In [3]:
import sys 
sys.version

'3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]'

In [23]:
# Value have types ,i.e. called data types
# 1-int,2-float,3-str,4-boolean,5-complex
i=10
f=10.3
s='nit'
print(i,f,s)
print(type(i)) #in-built Class
print(type(f))
print(type(s))

10 10.3 nit
<class 'int'>
<class 'float'>
<class 'str'>

In [31]:
i1,i2=10,20 #INTEGER
print(i1,i2)
print(i1+i2)
print(i1-i2)
print(i1*i2)
print(i1/i2)

10 20
30
-10
200
0.5

In [33]:
s=nareshit

NameError: name 'nareshit' is not defined

In [37]:
s='nareshit' #string
print(s)
print(type(s))

nareshit
<class 'str'>

In [39]:
s1="nareshit" #string
print(s)
print(type(s))

nareshit
<class 'str'>

In [41]:
s2= 'naresh it technology
        datascience,ai student--6month i will change your mindset'

SyntaxError: unterminated string literal (detected at line 1) (1879986466.py, line 1)

In [43]:
s2= "naresh it technology
        datascience,ai student--6month i will change your mindset"

SyntaxError: unterminated string literal (detected at line 1) (1564030112.py, line 1)

In [46]:
s2= '''naresh it technology 
        datascience,ai student--6month i will change your mindset''' #for multiple lines of text we use triple quotes
print(s2)

naresh it technology
        datascience,ai student--6month i will change your mindset

In [56]:
print(s[0])
print(s[-1])
print(s[3])
print(s[2:5])#slicing using colon ":",n-1 formula is applicapbel to the right index

n
t
e
res

17th April-FSDS with Agentic AI and Gen AI 
Python Basics(Datatypes 2)#boolean and Complex

#Boolean

In [5]:
true

NameError: name 'true' is not defined

In [7]:
True

True

In [11]:
false

NameError: name 'false' is not defined

In [13]:
False

False

In [19]:
b1= True # stores as 1
b2= False #stores as 0
b1

True

In [21]:
b2

False

In [23]:
b1+b2 #

1

In [29]:
print(b1-b2)
print(b1*b2)

1
0

In [31]:
print(b2/b1)

0.0

In [35]:
print(b2//b1)

0

#Complex datatypes

In [44]:
# a+bj-- format of complex datatypes--- used  in aeronautical usecases ex NASA (mathematical calculations and applications)
# a is real part 
# b is imaginary part 
# j is squareroot of -1

In [46]:
c=10+20j
c

(10+20j)

In [48]:
type(c)

complex

In [50]:
c.real #to call any in built function use dot and Tab ## calling real part

10.0

In [54]:
c.imag # calling imaginar part

20.0

In [56]:
c.conjugate

In [60]:
c1=3+5J # only J is allowed and it is not case sensitive 
c1

(3+5j)

In [64]:
print(c)
print(c1)

(10+20j)
(3+5j)

In [68]:
print(c+c1) #arthemetic operations 
print(c-c1)
print(c*c1)
print(c/c1)

(13+25j)
(7+15j)
(-70+110j)
(3.823529411764706+0.29411764705882354j)

Python Basics (Typecasting & Type Conversion)

In [71]:
# In python function ends with() and in the brackets we pass arguments/parameter.

In [73]:
int(3.4) # to convert the datatypes to other datatypes is known as typecasting

3

In [75]:
int(3.4,5.7) # but accepts 1 argument only

TypeError: 'float' object cannot be interpreted as an integer

In [77]:
int(True) #bool to integer

1

In [79]:
int(True, False)

TypeError: int() can't convert non-string with explicit base

In [81]:
int(False)

0

In [83]:
print(int(3.4))
print(int(True))
print(int('10'))

3
1
10

In [87]:
print(int(3+4j)) #int typecasting is possible for every datatype except complex datatype

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [89]:
int('ten') #only number string are allowed

ValueError: invalid literal for int() with base 10: 'ten'