Tuple Creation

In [1]:
tup1=() # empty tuple

In [5]:
tup2=(1,2,3) 
tup3=(10.77,30.66,60.89)

In [11]:
tup4=('one','two','three')
tup5=('Asif',25,(50,100),(150,90))
tup6=(100,'Asif',17.65)
tup7=('Asif',25,[50,100],[150,90],{'john','David'},(99,22,33))
len(tup7)

6

Tuple Indexing

In [17]:
tup2[0]

1

In [19]:
tup4[0]

'one'

In [23]:
tup4[0][0] #nested indexing- Access the first character of the first tuple element

'o'

In [27]:
tup4[-1]

'three'

In [29]:
tup5[-1]

(150, 90)

Tuple Slicing

In [65]:
mytuple=('one','two','three','four','five','six','seven','eight')

In [34]:
mytuple[0:3]

('one', 'two', 'three')

In [36]:
mytuple[2:5]

('three', 'four', 'five')

In [38]:
mytuple[:3]

('one', 'two', 'three')

In [40]:
mytuple[:2]

('one', 'two')

In [42]:
mytuple[-3:]

('six', 'seven', 'eight')

In [44]:
mytuple[-2:]

('seven', 'eight')

In [46]:
mytuple[-1]

'eight'

In [49]:
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

Remove & Change Items

In [54]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [56]:
del mytuple[0] # tuples are immutable which means we cant delete tuple items

TypeError: 'tuple' object doesn't support item deletion

In [58]:
mytuple[0]=1 # Tuples are immutable which means we cant change tuple items

TypeError: 'tuple' object does not support item assignment

In [60]:
del mytuple # deleting the entire tuple is possible

Loop through a Tuple

In [67]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [69]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [71]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

Tuple Membership

In [74]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [78]:
'one' in mytuple

True

In [80]:
'ten' in mytuple

False

In [82]:
if 'three' in mytuple:
    print('three present')
else:
    print('three absent')

three present

In [84]:
if 'eleven' in mytuple:
    print('eleven present')
else:
    print('eleven absent')

eleven absent

Index Position

In [87]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [91]:
mytuple.index('one')

0

In [93]:
mytuple.index('five')

4

Sorting

In [98]:
mytuple1=(43,67,99,12,6,90,67)

In [100]:
sorted(mytuple1)

[6, 12, 43, 67, 67, 90, 99]

In [102]:
sorted(mytuple1,reverse=True)

[99, 90, 67, 67, 43, 12, 6]